{
    "env": {
      "es6": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:flowtype/recommended"
    ],
    "plugins": [
      "flowtype"
    ],
    "rules": {
        "react/prop-types": [ false ],
        "no-console": ["error", { allow: ["warn", "error"] }]
    },
    "globals": {
      "document": true,
      "module": true,
      "describe": true,
      "it": true,
      "expect": true,
      "require": true,
      "__dirname": true,
      "jest": true,
      "beforeEach": true,
      "fetch": true,
      "console": true
    },
    "settings": {
        "react": {
          "createClass": "createReactClass",
          "pragma": "React",
          "version": "16.0",
          "flowVersion": "0.83"
        }
    }
}
